---
layout: about
title:
permalink: /about/index.html
description: 
---

<img itemprop="image" class="img-rounded" src="/assets/img/assets/img/1641972892912.jpeg" alt="{{ site.username }}">

<h2>About Me</h2>

<p>Name: Mandeep Singh</p>
<p>Email: mandeeps708@gmail.com</p>
<p>Phone: +91 9803188687</p>
<p>Address: 1st floor, H.No. 106, Village Phullanwal, Nr. Monika Gas Godown, Basant Avenue, Ludhiana 141013</p>



<p>My name is Mandeep Singh. I'm a Computer Science Engineer and an open-source enthusiast.
</p>

<p>On this blog, I write about whatever I do and how I do it.</p>
