---
layout: default
---

<main id="scroll" class="home" itemscope="itemscope" itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
        <article class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">  
                <a class="datetime" href="{{ post.url | prepend: site.baseurl }}">
                    <meta itemprop="datePublished" content="{{post.date}}">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        <span class="day">
                            {{ post.date | date: "%d" }}
                        </span>
                        <span class="month-year">
                            {{ post.date | date: "%B %Y" }}
                        </span>
                    </time>
                </a>
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:20 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">Read more</a>
                    </p>
                    <div class="tags">
                        {% assign words = post.content | number_of_words %}
                        {% if words < 360 %}
                        <a class="read-time">Read time: <b>1 minute</b></a>
                        {% else %}
                        <a class="read-time">Read time: <b>{{ words | divided_by:150 }} minutes</b></a>
                        {% endif %}
                        {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
        </article>
    {% endfor %}
</main>
