<footer>
    <p>Made with <a href="http://jekyllrb.com/" target="_blank" rel="noopener">Jekyll</a> and <span class="love">❤</span> by Anxhelo Lushka</p>
    <p>All content is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a></p>
    <p>Source code available <a href="https://gitlab.com/mandeeps708/blog" target="_blank" rel="noopener">on GitLab</a> under the MIT license</p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<!-- <script>
    if ('serviceWorker' in navigator) {
window.addEventListener('load', function() {
navigator.serviceWorker.register('../sw.js').then(function(registration) { console.log('ServiceWorker registration successful with scope: ', registration.scope);
}, function(err) {  console.log('ServiceWorker registration failed: ', err);
});
});
}
</script> -->
