<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ site.baseurl }}{{page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ site.baseurl }}/assets/img/blog-image.png">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.image %}
    <meta property="og:image" content="{{ site.baseurl }}{{page.image }}">
    {% else %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/blog-image.png">
    {% endif %}
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" itemscope itemtype="https://schema.org/Text" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" itemscope itemtype="https://schema.org/Text" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" itemscope itemtype="https://schema.org/ImageObject" content="{{ "/assets/img/blog-image.png" | prepend: site.url }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/icons/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/icons/favicon-16x16.png">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-180x180.png" />
    <link rel="mask-icon" href="{{site.baseurl}}/assets/img/icons/safari-pinned-tab.svg" color="#1a1a1a">

    <!-- Windows 8 Tile Icons -->
    <meta name="application-name" content="{{site.username}} Blog">
    <meta name="msapplication-TileColor" content="#1a1a1a">

    <!-- Android Theme Color -->
    <meta name="theme-color" content="#1a1a1a">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}"> -->

<!-- Fallbacks for disabled JavaScript users -->
<noscript>
    <style>
#open {
      display: none;
}
#close {
      display: none;
}
#search-icon {
      display: none;
}
#slide {
      display: none;
}
label {
      display: none;
}
.reminder {
      display: none;
}
.icons-home {
      display: none;
}
.icons-alternative a {
      display: inline-block;
}
.share_post {
      display: none;
}
.post-item {
      max-width: 45rem;
}
.post-item .datetime .month-year {
      white-space: normal;
}
.post-content {
      max-width: 40rem;
      margin: 0 auto;
}
aside {
      position: fixed;
      height: 100%;
      width: 7.5rem;
      padding: 2.5rem 0 0;
      top: 0;
      left: 0rem !important;
      background: var(--sidebar-bg);
      z-index: 20;
}
.easter-egg {
      display: none;
}
@media only screen and (max-width:37.5rem) {
      aside {
        display: none;
}
}
</style>
</noscript>

</head>
