<div class="search-wrapper">
    <div class="search-form">
		<label hidden for="search-box">Search Box</label>
        <input type="text" class="search-field" id="search-box" placeholder="Search...">
        <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>
<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>
<aside id="sidebar">
<nav id="navigation">
  <h2>MENU</h2>
  <ul>
    {% for link in site.links %}
    {% if link.external %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% else %}
      <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
    <li><a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
  </ul>
</nav>
</aside>
<input class="toggle-theme" type="checkbox" id="switch" onclick="save();" /><label id="switcher" for="switch">Toggle</label>
<a id="search" class="dosearch">
    <svg id="search-icon" class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>

<script>
  let toggle = document.querySelector('.toggle-theme');
if (localStorage.getItem('dark')) {
  document.body.classList.add('dark');
}
toggle.addEventListener('change', function(e) {
  e.preventDefault();
  if (document.body.classList.contains('dark')) {
    document.body.classList.remove('dark');
    localStorage.removeItem('dark');
  } else {
    document.body.classList.add('dark');
    localStorage.setItem('dark', true);
  }
});
var checkbox = document.getElementById("switch");
function load(){    
    var checked = JSON.parse(localStorage.getItem('switch'));
    document.getElementById("switch").checked = checked;
}
var checked = JSON.parse(localStorage.getItem('switch'));
  if (checked == true) {
    document.getElementById("switch").checked = true;
}
function save(){
    var checkbox = document.getElementById('switch');
    localStorage.setItem('switch', checkbox.checked);
}
</script>