<section class="share_post">
    <h3>Share</h3>
    <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=350');return false;" title="Share on Twitter">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>
    <a aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
        <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a aria-label="Share on Reddit" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'reddit-share', 'width=700,height=500');return false;" title="Share on Reddit">
        <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
    </a>
    <a aria-label="Share on Telegram" href="https://t.me/share/url?url={{ site.url }}{{ page.url }}&text={{ page.title }} by {{ site.username }}" title="Share on Telegram">
        <svg class="icon icon-telegram"><use xlink:href="#icon-telegram"></use></svg>
    </a>
    <a aria-label="Share on WhatsApp" href="whatsapp://send?text=Check out this article by {{ site.username }}! {{ site.url }}{{ page.url }}" data-action="share/whatsapp/share" title="Share on WhatsApp">
        <svg class="icon icon-whatsapp"><use xlink:href="#icon-whatsapp"></use></svg>
    </a>
    <a aria-label="Share via email" href="mailto:?subject=I wanted you to see this&amp;body=Check out this article {{ site.url }}{{ page.url }} by {{ site.username }}" title="Share via email">
        <svg class="icon icon-email-share"><use xlink:href="#icon-email-share"></use></svg>
    </a>
</section>


