---
layout: portfolio
title:
permalink: /portfolio/index.html
description:
---

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://sirvpn.me" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/sirvpn.png" alt="SirVPN website"></a>
		</div>
		<div class="text">
			<p class="portfolio">SirVPN was an initiative and one of the first VPN-s based on the new protocol called <a href="https://www.wireguard.com/" target="_blank" rel="noopener">Wireguard</a>. The VPN was provided for free for the users (for a test drive period of 14 days) but has now shut down for lack of funding. I helped with the domain name, designed the website (as you might notice it's similar to the one you'll see below) and the logo, based on Indian symbols.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://anysoftkeyboard.github.io" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/ask-website.png" alt="ASK website"></a>
		</div>
		<div class="text">
			<p class="portfolio">AnySoftKeyboard is an open source keyboard for Android devices. It has an active community on <a href="https://github.com/AnySoftKeyboard/AnySoftKeyboard" target="_blank" rel="noopener">GitHub</a> and is available for Android 1.5 and up devices, so basically for every device possible. It is a private and fast alternative, weighning just 6.5MB, with over 40 supported languages. You can download the app from <a href="https://play.google.com/store/apps/details?id=com.menny.android.anysoftkeyboard" target="_blank" rel="noopener">Google Play Store</a> or <a href="https://f-droid.org/repository/browse/?fdid=com.menny.android.anysoftkeyboard" target="_blank" rel="noopener">F-Droid</a>.<br />I ran across this app a few weeks back and decided to contribute by designing a new website for them.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://libocon.org/2018" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/libocon.png" alt="LibOCon 2018 Logo"></a>
		</div>
		<div class="text">
			<p class="portfolio">LibOCon is the annual gathering of the <a href="https://libreoffice.org" target="_blank" rel="noopener">LibreOffice</a> community, this time on its 8th year. At LibOCon, LibreOffice users gather to network and meet key LibreOffice developers, designers, localizers, documenters, supporters and marketers, and to learn about the latest in LibreOffice development.<br />We at <a href="https://ura.design" target="_blank" rel="noopener">Ura Design</a> worked on the visual identity for the 2018 edition and I dealt with most of the assets and production for printing.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://t.me/privacytoday" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/privacy-today.png" alt="Privacy Today Logo"></a>
		</div>
		<div class="text">
			<p class="portfolio">Privacy Today is an initiative where people talk about all things privacy, open source, libre philosophy and more! I created the main logo and some variations to represent their main groups; the eye in the logo stands for the current stance of the Internet where everything is under surveillance meanwhile the P stands for, you guessed it, "Privacy".<br />You can join the channel by pressing the image above and the group by clicking <a href="https://t.me/joinchat/Awg5A0UW-tzOLX7zMoTDog" target="_blank" rel="noopener">this link</a>.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">			
			<a href="https://passman.cc" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/passman.jpg" alt="Passman"></a>
		</div>
		<div class="text">
			<p class="portfolio">Passman is an innovative, opensource password manager for Nextcloud. Store your passwords safely with millitary grade encryption (AES-256bit). I helped create the logo and graphics for their website.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://twitter.com/codeaholics_AL" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/codeaholics.jpg" alt="Codeaholics"></a>
		</div>
		<div class="text">
			<p class="portfolio">Codeaholics was part of Rails Girls Summer of Code, working on the Nextcloud project for the Contacts app. I created their logo and social media images they have used during their scholarship.</p>
		</div>
	</div>
</section>

<section class="portfolio-section">
	<div class="container flex">
		<div class="image">
			<a href="https://activitydaymilano2017.wikitolearn.events/" target="_blank" rel="noopener"><img class="card" src="/assets/img/portfolio/fsadmilano.jpg" alt="Free Software Activity Day Milano"></a>
		</div>
		<div class="text">
			<p class="portfolio">An international line-up to find out that Open Source is not just for a selected few, but it is an inclusive creative process: accessible to everyone and where it's important that everyone participates. I created their brand for the entire event, starting with the logo, typography and social media images.</p>
		</div>
	</div>
</section>
