:root {
	--hdr: #555;		/* Header Background Color */
	--bkg: #444;		/* Background Color */
	--frg: #444;		/* Foreground Color */
	--hgl: #eee;		/* Highlight Color */

	--htx: #fff;		/* Header Text Color */
	--txt: #fff;		/* Text Color */
}

@font-face {
	src: url(font/Overpass.woff2);
	font-family: Overpass;
}

html, body {
	font-family: Overpass;
	margin: 0;
	background-color: #333;
}

div#wiper {
	opacity: 0 !important;
	z-index: -1 !important;
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;	
	background-color: #333;
	transition: .5s opacity .5s, .5s z-index .5s;
}

body > div#main {
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: 1s transform;
	max-height: 90vh;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: .3s height;
}

body > div#main > span > div#static_links {
	font-family: Overpass;
	background-color: var(--hdr);
	margin: 2px 2px 0px 2px;
	box-sizing: border-box;
	color: var(--txt);
	padding-right: 15px;
	padding-left: 15px;
	line-height: 30px;
	text-align: right;
	font-size: 16px;
	border: none;
	width: 908px;
	height: 30px;
	padding-top: 8px;
	height: 40px;
}

body > div#main > span > div#static_links > span#clock {
	margin-right: 15px;
}

body > div#main > span > div#static_links > span:first-of-type {
	color: var(--htx);
	float: left;
}

body > div#main > span > div#static_links > a {
	text-decoration: none;
	color: var(--htx);
}

body > div#main > span > div#static_links > a:hover {
	color: white;
}

body > div#main > span > div#static_links > a + a {
	margin-left: 5px;
}

body > div#main > span > form > input {
	background-color: var(--frg);
	font-family: Overpass;
	margin: 0px 2px 2px 2px;
	box-sizing: border-box;
	color: var(--txt);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 32px;
	border: none;
	width: 908px;
	height: 55px;
}

body > div#main > span > form > input:focus {
	outline: none;
	border: none;
	height: 55px;
}

@media screen and (max-width: 912px) {
	body > div#main > span > form > input, body > div#main > span > div#static_links {
		width: 604px;
	}
}

@media screen and (max-width: 608px) {
	body > div#main > span > form > input, body > div#main > span > div#static_links {
		width: 300px;
	}
}

div#links > div.section {
	background-color: var(--hdr);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	height: 200px;
	width: 300px;
	margin: 2px;
	overflow: hidden;
	color: var(--htx);
	padding-top: 3px;
}

div#links > div.section:before {
	content: "";
	margin-left: 15px;
}

div#links > div.section > div {
	padding: 15px;
	background-color: var(--frg);
	height: 100%;
}

div#links > div.section > div > a {
	text-decoration: none;
	color: var(--txt);
	display: block;
}

div#links > div.section > div > a:hover {
	background-color: rgba(255,255,255,.1);
	color: var(--hgl);
}

div#links > div.section > div > a.selected {
	background-color: rgba(255,255,255,.1);
	color: var(--hgl);
}

div#links > div.section > div > a + a {
	margin-top: 5px;
}
