---
layout: default
---

<!DOCTYPE html>
<html lang="en-US">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>
