---
layout: compress
---

<!DOCTYPE html>
<html lang="en-US">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">

            <article id="scroll" class="post-content" role="main">
                {{ content }}
            </article>

            {% include footer.html %}
        </section>
    </body>
</html>
